<div class="main-block">
  <div class="main-block-dark">
    <div class="container-sm my-4 py-3 main-section-block">

      <!--      <div class="row">-->
      <!--        <img [src]="imgPath" style="margin: 0 auto; max-width:7rem; max-height: 4.25rem"/>-->
      <!--      </div>-->

      <div class="row" [formGroup]="loginForm">

        <div class="col">
          <div class="row">
            <div class="col-sm">
              <p class="vitrina text-center" translate>footer.companyFullName</p>
            </div>
          </div>
          <div class="row my-0">
            <div class="col-sm">
              <ul class="nav nav-tabs" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link panel-header"
                    [ngClass]="selectedTab == 1 ? 'active' : ''"
                    data-mdb-toggle="tab"
                    role="tab"
                    aria-controls="ex1-tabs-1"
                    aria-selected="true"
                    (click)="selectTab(1)"
                    translate
                  >login.loginPassword</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    [ngClass]="selectedTab == 2 ? 'active' : ''"
                    data-mdb-toggle="tab"
                    role="tab"
                    aria-controls="ex1-tabs-2"
                    aria-selected="false"
                    (click)="selectTab(2)"
                    translate
                  >login.ecp</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="ex1-content">
                <div
                  class="tab-pane fade my-2"
                  [ngClass]="selectedTab == 1 ? 'active show' : ''"
                  id="ex1-tabs-1"
                  role="tabpanel"
                  aria-labelledby="ex1-tab-1"
                >
                  <div class="row">
                    <div class="col-sm">
                      <label class="montserrat-label" translate>login.username</label>
                      <div class="input-group margin-bottom-sm mb-3">
                        <span class="input-group-addon"><i class="fa fa-user montserrat-icon"></i></span>
                        <input class="form-control" type="text" formControlName="username" (keyup.enter)="login()">
                      </div>
                      <div *ngIf="f.username.touched && f.username.invalid"
                           class="text-danger text-center errText">
                        <div *ngIf="f.username.errors.required" translate>login.addUserLogin</div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <label class="montserrat-label" translate>login.password</label>
                      <div class="input-group margin-bottom-sm mb-3">
                        <span class="input-group-addon"><i class="fa fa-key montserrat-icon"></i></span>
                        <input type="password" class="form-control" #x aria-label="password"
                               aria-describedby="basic-addon2" formControlName="password" (keyup.enter)="login()">
                      </div>
                      <div *ngIf="f.password.touched && f.password.invalid"
                           class="text-danger text-center errText">
                        <div *ngIf="f.password.errors.required" translate>login.addUserPassword</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade my-2" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2"
                     [ngClass]="selectedTab == 2 ? 'active show' : ''">
                  <div class="row">
                    <div class="col-sm">
                      <input type="hidden" id="certificate" formControlName="certificate"/>
                      <div class="input-group margin-bottom-sm mb-3">
                        <button type="button" class="btn btn-primary choose-ecp" [disabled]="!loginForm.value.accept" (click)="checkCert(this)" translate>
                          login.chooseEcp
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-0">
              <div class="col-sm-1"></div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="accept">
                    <a class="col-sm-12 cursor-pointer" (click)="openModal(template)" translate>
                      login.acceptCondition
                    </a>
                  </div>
                  <div *ngIf="f.accept.invalid" class="text-danger text-center errText my-1">
                    <div *ngIf="f.accept.errors.required" translate>login.acceptUserAgreements</div>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm">
                  <select class="form-select" formControlName="lang" (change)="changeLang()">
                    <option [value]="i.code" *ngFor="let i of mySelect">{{i.value}}</option>
                  </select>
                </div>
                <div class="col-sm">
                  <button class="btn float-right color-aqua text-white btn-block enter-btn"
                          [disabled]="!this.loginForm.valid"
                          *ngIf="selectedTab == 1"
                          (click)="login()" translate>
                    login.login
                  </button>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left" translate>login.userAccepted</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="text-danger">&times;</span>
        </button>
      </div>
      <div class="modal-body" translate>
        login.userAgree
      </div>
    </ng-template>
  </div>
