<div class="card ">
  <div class="row ">
    <div class="col-sm">
      <table class="table overflow-auto table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col" translate>activity.action</th>
          <th scope="col" translate>activity.actionDate</th>
          <th scope="col" translate>IP</th>
        </tr>
        </thead>
        <tbody>
        <tbody style="cursor: pointer">
        <tr *ngFor="let node of actData;let i = index">
          <td>{{node.id}}</td>
          <td>{{node.eventMessage}}</td>
          <td>{{node.eventDate}}</td>
          <td>{{node.ip}}</td>
        </tr>
        </tbody>
      </table>

      <pagination [(ngModel)]="currentPage"
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="10"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>

